<main>
    <form class="auth-login">
        <h1 class="title">Login</h1>

        {{> 
            Field 
                name="login" 
                label="Username"
                type="text"
        }}

        {{>
            Field
                name="password"
                label="Password"
                type="password"
        }}

        {{>
            Button
                primary="true"
                text="Login"
        }}
        
        {{>
            Button
                text="Register"
        }}
    </form>
</main>
