<main>
    <form class="">
        {{> 
            Field 
                name="login" 
                label="Username"
                type="text"
        }}

        {{>
            Field
                name="password"
                label="Password"
                type="password"
        }}
    </form>
</main>
