<main class="login">
    <form class="login__form">
        <div class="login__fields">
            <h1 class="title">Login</h1>
            
            {{>
                Field
                    name="login"
                    label="Username"
                    type="text"
            }}

            {{>
                Field
                    name="password"
                    label="Password"
                    type="password"
            }}
        </div>

        <div class="login__buttons">
            {{>
                Button
                    primary="true"
                    text="Login"
                    type="submit"
            }}
            
            {{>
                Button
                    text="Register"
                    type="button"
            }}
        </div>
        
    </form>
</main>
