<section class="chat">
    <header class="chat-header">
        {{#if isOpenDialogChatOptions}}
            {{{ ChatOptions handleAddMember=handleAddMember handleDeleteMember=handleDeleteMember }}}
        {{/if}}

        <div class="chat-header__details">
            <div class="chat-header__avatar">
                <img 
                    src="http://localhost:3000/avatar.png"
                    alt="User Avatar"
                    width="34px"
                    height="34px"
                >
            </div>
            <h3 class="chat-header__name">Вадим</h3>
        </div>

        {{{ OptionsIcon onClick=handleChatOptionsToggle }}}
    </header>


    <div class="chat-main">
        {{!-- <time class="chat-main__date" datetime="2023-12-20">20 декабря</time> 
        <div class="chat-main__messages">
            <div class="chat-main__message">
                <p>
                    Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад
                    адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову
                    говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с
                    пленкой.<br /><br />
            
                    Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего
                    их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
                </p>
                <time datetime="11:56">11:56</time>
            </div>
            <div class="chat-main__photo">
                <img src="http://localhost:3000/videocamera.png" alt="Videocamera image">
                <time datetime="9:20">9:20</time>
            </div>
            <div class="chat-main__message_mine">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ipsum officiis rerum atque repudiandae esse autem et excepturi inventore labore?</p>
                <div class="chat-main__message-details">
                    {{> TicksIcon }}
                    <time datetime="13:40">13:40</time>
                </div>
            </div>
            <div class="chat-main__message_mine">
                <p>404 not found page</p>
                <div class="chat-main__message-details">
                    {{> TicksIcon }}
                    <time datetime="13:45">13:45</time>
                </div>
            </div>
            <div class="chat-main__message_mine">
                <p>500 interval server error page</p>
                <div class="chat-main__message-details">
                    {{> TicksIcon }}
                    <time datetime="13:45">13:45</time>
                </div>
            </div>
        </div> --}}
    </div>


    <footer class="chat-footer">
        {{!-- <div class="chat-footer__options">
            <div class="chat-footer__options-item">
                {{> MediaIcon }}

                <label for="media">
                    <span>Photo or Video</span>
                    <input 
                        type="file" 
                        accept="image/*" 
                        hidden="true" 
                        id="media"
                    >
                </label>
            </div>
            <div class="chat-footer__options-item">
                {{> FileIcon }}

                <label for="media">
                    <span>File</span>
                    <input type="file" accept="image/*" hidden="true" id="media">
                </label>
            </div>
            <div class="chat-footer__options-item">
                {{> LocationIcon }}
            
                <label for="media">
                    <span>Location</span>
                    <input type="file" accept="image/*" hidden="true" id="media">
                </label>
            </div>
        </div> --}}

        <button class="chat__button" type="button">
            {{> PinIcon }}
        </button>

        {{{
            Field
                type="text"
                name="message"
                onBlur=onBlur
                ref="message"
                env="chat"
                placeholder="Message"
                validate=validate.message
        }}}

        {{{ 
            Button
                type="button"
                env='chat'
                onClick=handleSendClick
        }}}
    </footer>
</section>