<div class="chat-header__options">
  <div class="chat-header__options-item">
    {{> PlusIcon }}
    <span>Add member</span>
  </div>
  <div class="chat-header__options-item">
    {{> DeleteIcon }}
    <span>Delete member</span>
  </div>
</div>
