.auth {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 40px;
        width: 340px;
        padding: 30px;
        box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
        border-radius: 12px;

        & .title {
            margin: 20px 0;
        }

        & .field-auth:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }

    &__buttons {
        & button:not(:last-child) {
            margin-bottom: 2px;
        }
    }
}
