// ===== FONTS =====
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

// ===== GLOBALS =====
@import "./globals/normalize";
@import "./globals/reset";
@import "./globals/variables";

// ===== COMPONENTS =====
@import "../components/field/field";
@import "../components/button/button";
@import "../components/title/title";
@import "../components/chats-card/chats-card";
@import "../components/chats-list/chats-list";
@import "../components/search/search";
@import "../components/link/link";
@import "../components/icons/icons";
@import "../components/avatar/avatar";

// ===== PAGES =====
@import "../pages/auth/auth";
@import "../pages/chats/chats";
@import "../pages/chats/chat/chat";
@import "../pages/profile/profile";

* {
    font-family: Inter, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth !important;
    box-sizing: border-box !important;
}
