<main class="error-page">
    <h1 class="error-page__number">500</h1>
    <p class="error-page__text">Interval Server Error</p>
    <button class="error-page__button" page="chats">Back to chats</button>
</main>
