<main class="error-page">
    <h1 class="error-page__number">404</h1>
    <p class="error-page__text">Page not found</p>
    <button class="error-page__button" page="chats">Back to chats</button>
</main>
