<div class="field-profile">
    <label class="field-profile__label" for={{ name }}>
        {{ label }}
    </label>

    {{{ 
        Input 
            type=type 
            name=name 
            placeholder=placeholder 
            disabled=disabled 
            env=env
            ref="input"
    }}}
</div>
