<div class="field-chat">
  {{{
    Input
      type=type
      name=name
      onInput=handleSearch
      placeholder=placeholder
      env=env
      ref="input"
  }}}

  {{{ ErrorText error=error ref="errorText" type="input" }}}
</div>