<main class="chats">
    <aside class="chats__aside">
        {{{ 
            Link
                text="Profile"
                onClick=handleProfileClick
        }}}
        {{{ Search }}}

        {{{ 
            Button 
                primary="true"
                text="Create chat"
                type="button"
                onClick=handleCreateChat
        }}}
        <nav>
            {{#ChatsList chats=chats handleChatClick=handleChatClick}}{{/ChatsList}}
        </nav>
    </aside>

    <section class="chats__main">
        <h1 class="chats__dummy">Choose a chat to send a message</h1>
    </section>
</main>
