<main class="chats">
    <aside class="chats__aside">
        {{{ 
            Link
                text="Profile"
                onClick=handleClick
        }}}
        {{{ Search }}}
        <nav>
            {{#ChatsList chats=chats}}{{/ChatsList}}
        </nav>
    </aside>

    <section class="chats__main">
        <h1 class="chats__dummy">Choose a chat to send a message</h1>
    </section>
</main>
