{{!-- TODO Add search icon --}}
<label 
    class="search"
    for="search"
>
    <input 
        class="search-input" 
        type="text" 
        placeholder="Search" 
        id="search"
    >
</label>
