<label 
    class="avatar" 
    for="avatar"
>
    <div class="avatar-overlay">
        <p>Change avatar</p>
    </div>

    {{> AvatarIcon }}

    {{{ 
        Input 
            type="file"
            hidden="true"
            id="avatar"
            name="avatar"
            placeholder="Avatar"
            env="profile"
            ref="input"
            onChange=handleAvatarChange
    }}}
</label>
