<label 
    class="avatar" 
    for="avatar"
>
    <div class="avatar-overlay">
        <p>Change avatar</p>
    </div>
    {{> AvatarIcon }}
    <input
        type="file"
        hidden="true"
        id="avatar"
        name="avatar"
        ref="avatarRef"
    >
</label>
