{{#Dialog open=isOpenDialogUsers}}
  <form method="dialog">
    <h3>Find user</h3>

    {{{
      Field
        name="findUser"
        label="Find user"
        placeholder="User"
        type="text"
        ref="user"
        env="search"
    }}}

    {{{ ErrorText error=error ref="errorLine" type="form" }}}

    <div>
      {{{
        Button
          text="Add"
          primary="true"
          type="submit"
          onClick=addUserToChat
      }}}
      {{{
        Button
          text="Cancel"
          type="button"
          onClick=onClose
      }}}
    </div>
  </form>
{{/Dialog}}
